@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap");

/* Base styling of the page at start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    color: black;
    background-color: #cac4ce;
}

/* Set the base style of the memory game index.html page */
body {
   /*height: 100vh;*/
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.header {
    height: 20vh;
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* The memory game area styling on screen sizes >= 890px */
.game-area {
    display: grid;
    grid-template-columns: repeat(4,12rem);
    grid-template-rows: repeat(4,9rem);
    grid-gap: 2rem;
    perspective: 800px;
}

/* The memory game base deck styling at start of each game*/
.deck {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0,0,0,0.3) 0px 5px 15px;
    border-radius: 1rem;
}

/* The base memory game back-side and front-side (image-side) styling*/
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    border-radius: 1rem;
}

/* Base styling of back-side so the front-side image is not visible */
.back {
    background: #a940c9;
    backface-visibility: hidden;
}

/* Styling to present the image on the front-side after it is turned (toggled) in the right way to the player */
.front {
    transform: rotateY(-0.5turn);
}

/* The styling of rotation when player clicks on the memory game and returns when a no match or restarted game */
.toggleDeck {
    transform: rotateY(0.5turn);
}
